<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="whole-page">
      <div class="top">
        {{- partial "sidebar.html" . -}}
        <div class="content">
          <div class="upper-content">
          <div class="upper-left">
            <h1>Modern monitoring & analytics</h1>
            <p>See inside any stack, any app, at any scale, anywhere.</p>
            <button> TRY FREE </button>
          </div>
          <div class="upper-right">
            <div class="information-box">
                <div class="ib-left">
                  <h6>INFRASTRUCTURE</h6>
                  <p>Starting at</p>
                  <h3>$15</h3>
                  <p>Per host, per month*</p>
                  <ul>
                    <li>250+ integrations</li>
                    <li>Out-of-the-box dashboards</li>
                    <li>15-month metric retention</li>
                  </ul>
                  <div class="sd-box">
                    <a href="#">See Details</a>
                  </div>
                </div>
                <div class="ib-center">
                  <h6>APM</h6>
                  <p>Starting at</p>
                  <h3>$31</h3>
                  <p>Per host, per month*</p>
                  <p>Centralize your monitoring of systems and services</p>
                  <ul>
                    <li>Java, Ruby, Python, Go, Node, and more</li>
                    <li>Out-of-the-box application health dashboards</li>
                    <li>1 million trace events per host included</li>
                  </ul>
                  <div class="sd-box">
                    <a href="#">See Details</a>
                  </div>
                </div>
                <div class="ib-right">
                  <h6>LOG MANAGEMENT</h6>
                  <p>Starting at</p>
                  <h3>$1.27</h3>
                  <p>Per host, per month*</p>
                  <p>Analyze and expore log data in context</p>
                  <ul>
                    <li>Collect from any source</li>
                    <li>Automated & custom processing</li>
                    <li>Fully integrated with Infrastructure and APM</li>
                  </ul>
                  <div class="sd-box">
                    <a href="#">See Details</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        {{- partial "footer.html" . -}}
      </div> 
    </body>
</html>